*{
    margin: 0;
    padding: 0;
}


body{
    overflow-x:hidden;
    width: 100%;
    height: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.top-nav{
    width: 100%;
    position:absolute;
    top: 0;
    display: inline-flex;
    justify-content: space-between;
    margin: 13px 0;
    font-size: 13px;
}

.top-nav-first-child,
.bottom-nav-first-child{
    display: inline-flex;
    align-items: center;
    gap: 1vw;
    margin: 0 20px;
}

.top-nav-second-child,
.bottom-nav-second-child{
    display: inline-flex;
    align-items: center;
    gap: 1vw;
    margin: 0 10px;
}

.top-nav-first-child > p:hover,
.bottom-nav-first-child > p:hover,
.top-nav-second-child > p:hover,
.bottom-nav-second-child > p:hover{
    cursor: pointer;
    text-decoration-line: underline;
    -moz-text-decoration-line: underline;
}

.top-nav-second-child p > a{
    color: currentColor;
    text-decoration: none;
}

.log-sign-in{
    padding: 10px 15px;
    background-color: #0c61e0;
    color: #fff;
    font-weight: 700;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
}

.container-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 27.9vh 0 0 0;
}

.container-logo > p{
    display: block;
    color:#1c73e4;
    position: fixed;
    transform: translate(200%, 200%);
    -webkit-transform: translate(200%, 200%);
    -moz-transform: translate(200%, 200%);
    -ms-transform: translate(200%, 200%);
    -o-transform: translate(200%, 200%);
}

.search-container{
    display: flex;
    align-items: center;
    margin: 2.5vh auto;
    width: 34em;
    height: 5vh;
    border-radius: 5em;
    -webkit-border-radius: 5em;
    -moz-border-radius: 5em;
    -ms-border-radius: 5em;
    -o-border-radius: 5em;
    outline: none;
    border: 1px solid rgb(220, 230, 230);
    padding: 0 1em;
}

.search-container:hover{
    box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.01), 0px 2px 10px rgba(0, 0, 0, 0.2);
}

.search-container:focus{
    color: #4b515d;
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.01), 0px 0px 8px rgba(0, 0, 0, 0.2);
}

input{
    width: 100%;
    height: auto;
    border: none;
    outline: none;
    padding: 0 2em;
    font-size: 1em;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2.9vh 0;
}

.button > input{
    display:flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 4vh;
    border: none;
    background-color: #f7f7f7c5;
    color: #3b3b3b;
    font-size: 90%;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
    margin: 0 0.5em;
}

.button > input:hover{
    border: 1px solid #d6d6d6;
    cursor: pointer;
}

.bottom-nav{
    width: 100%;
    background-color: #acacac28;
    position:absolute;
    bottom: 0;
    display: inline-flex;
    justify-content: space-between;
    font-size: 0.9em;
    border-top: 1px solid #acacac3a;
}

.bottom-nav-first-child > p,
.bottom-nav-second-child > p{
    padding: 1em 0.5em;
    color:#4b515dbb;
}


/*Import data for css icon*/

.gg-menu-grid-o {
    cursor: pointer;
    opacity: 60%;
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 16px;
    height: 16px;
}
.gg-menu-grid-o::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 4px;
    height: 4px;
    background: currentColor;
    box-shadow:
        0 6px 0,
        6px 6px 0,
        12px 6px 0,
        6px 12px 0,
        12px 12px 0,
        6px 0 0,
        12px 0 0,
        0 12px 0
    ;
    border-radius: 22px;
}

.gg-menu-grid-o:hover{
    background-color: #9e9e9e8f;
    box-shadow: 0 0 0 10px #9e9e9e8f;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.gg-search {
    position: fixed;
    box-sizing: border-box;
    display: block;
    width: .9em;
    height: .9em;
    border: 2px solid #8f8f8fe7;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    scale: .85;
}
.gg-search::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border-radius: 3px;
    width: 2px;
    height: 8px;
    background: #8f8f8fe7;
    transform: rotate(-45deg);
    top: 8px;
    left: 12px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}
/*----------------------------*/

/*---------Media Queries-------*/
@media screen and (max-width: 1050px){
    body{
        width: 100%;
        overflow: scroll;
    }

    .container-logo{
        margin: 6em 0 0 0;
        scale: .58;
    }

    form{
        width:auto;
    }

    .search-container{
        width: 85vw;
        height: 2.5em;
        margin: 0 auto;
    }

    .search-container > input{
        width: 100%;
        font-size: .8em;
    }

    .top-nav{
        margin: 2.5% 0;
    }

    .top-nav-first-child{
        margin: 0 1.5em;
    }

    .top-nav-first-child > p{
        display: none;
    }

    .top-nav-second-child > p{
        margin: 0;
        font-weight: 700;
        text-transform: uppercase;
    }

    .top-nav-second-child > p:first-child{
        display: none;
    }

    .top-nav-second-child > p:nth-child(-n+3){
        margin: 0 auto;
        color: #4b515dc9;
        font-size: .9em;
    }

    .top-nav-second-child > i{
        margin: 0 15px;
    }

    .log-sign-in{
        padding: 7px 7.5px;
    }

    .button{
        display: none;
    }

    .gg-menu {
        transform: scale(var(--ggs,1))
    }
    .gg-menu,
    .gg-menu::after,
    .gg-menu::before {
        box-sizing: border-box;
        position: relative;
        display: block;
        width: 18px;
        height: 2px;
        border-radius: 3px;
        background: #3b3b3bbd;
    }
    .gg-menu::after,
    .gg-menu::before {
        content: "";
        position: absolute;
        top: -5px
    }
    .gg-menu::after {
        top: 5px
    }

    .bottom-nav{
        width: 100%;
        height: 15vh;
        background-color: #acacac28;
        position:fixed;
        bottom: 0;
        display: block;
        margin: 0 auto;
    }

    .bottom-nav-first-child,
    .bottom-nav-second-child{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
/*-----------------------------*/

/*---Google-Advanced-Search----*/

    * > p{
        cursor: default;
    }

    .search-first-section{
        display: table;
    }

    .tr{
        display: table-row;
    }

    .td{
        display: table-cell; 
    }

    .advanced-top-nav{
        width: 100vw;
        display: inline-flex;
        justify-content: space-between;
        margin: 1% 0;
    }

    .advanced-top-nav > img{
        width: 5em;
        height: auto;
        margin: .5em 1.5em;
    }

    .account-buttons{
        display: inline-flex;
        align-items: center;
        margin: 0 1em;
    }

    .account-buttons > p{
        margin: 0 10px;
    }

    .account-buttons > i{
        margin: 0 10px;
    }

    .account-buttons p > a{
        text-decoration: none;
        color: currentColor;
        font-size: 1em;
    }

    .account-buttons p > a:hover{
        text-decoration: underline;
    }

    .log-button{
        padding: 9px 16px;
        background-color: #0c61e0d0;
        color: #fff;
        font-size: .9em;
        border-radius:5px;
        -webkit-border-radius:5px;
        -moz-border-radius:5px;
        -ms-border-radius:5px;
        -o-border-radius:5px;
    }

    .log-button:hover{
        cursor: pointer;
    }

    .content{
        width: 100vw;
    }

    .title-section{
        color: #ff0000cc;
        font-size: 1.3em;
        border-bottom: 1px solid #4f52581f;
        padding: 1% 2%;
    }

    .search-first-section,
    .search-second-section{
        width: 100%;
        font-size: .9em;
        padding: 1% 2% 1.5% 2%;
        border-bottom: 1px solid #4f52581f;
    }

    .td > input,
    .td > select{
        border: 1px solid #4f525852;
    }

    .td > input:focus,
    .td > select:focus{
        outline: 1px solid #0c61e0;
    }

    .td:first-child{
        width: 11%;
        font-size: .9em;
        padding: 1em 0;
    }

    .tr:first-child > .td:nth-child(n+2){
        font-weight: 600;
        color: #2222228a;
        font-size: .9em;
    }

    .tr:first-child > .td:first-child{
        font-size: 1.3em;
        color: #3b3b3b;
    }

    .td:nth-child(2){
        display: inline-flex;
        justify-content: start;
        width: 100%;
    }

    .td:nth-child(n+3){
        font-size: .8em;
        color: #4f5258ee;
    }

    .tr:nth-child(n+2) > .td:nth-child(n+3){
        padding: 0 1em 0 1.5em;
    }

    .td > input,
    .td > select{
        display: block;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 2em;
    }

    .td > p{
        width: 36%;
    }

    .td > p:nth-child(2){
        color: #4b515d;
        padding: 0 1%;
        display: flex;
        align-items: center;
        width: auto;
    }

    span{
        color: #666;
        font-family: monospace;
        font-size: 11px;
        white-space: pre;
    }

    .search-second-section .tr:nth-child(n+2) > .td:nth-child(-n+1){
        width: 15.5%;
    }

    .search-second-section .tr:nth-child(n+2) > .td:nth-child(n+3){
        width: 100%;
    }

    select{
        font-weight: 600;
        color: #1d1d1de3;
        font-size: .8em;
        display: flex;
        justify-content: center;
    }

    select > option{
        background-color: #fff;
        font-size: 1.2em;
    }

    .search-second-section .tr > .td{
        width: auto;
    }

    .search-second-section .tr .td > select,
    .search-second-section .tr .td > input{
        width: 35vw;
        height: 3vh;
    }

    .blue-words{
        color: #0c61e0e1;
    }

    .blue-words:hover{
        text-decoration: underline;
    }

    .advanced-submit{
        width: 46vw;
        display: flex;
        justify-content: end;
        margin: 1% 0;
    }

    .advanced-submit > input{
        padding: 8px 12px;
        width: auto;
        background-color: #1870f3b9;
        color: #fff;
        font-size: .8em;
        font-weight: 600;
        border: 1px solid #226fff8e;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
    }

    .advanced-submit > input:hover{
        cursor: pointer;
        background-color: #1870f3e5;
    }

    .advanced-bottom-nav{
        width: 100%;
        background-color: #c1c2c485;
        display: inline-flex;
        justify-content: start;
        align-items: center;
        padding: 10px 1%;
    }

    .advanced-bottom-nav > p{
        margin: 0 1%;
    }

    .advanced-bottom-nav p > a{
        text-decoration: none;
        color: #383838c4;
        font-size: .9em;
    }

    .advanced-bottom-nav p > a:hover{
        color: #383838;
    }

    @media screen and (max-width: 1050px){
        body{
            overflow-x: hidden;
        }

        .advanced-top-nav{
            font-size: .8em;
        }

        .log-button{
            padding: 6px 8px;
        }

        .td:nth-child(n+3){
            display: none;
        }

        .td:nth-child(n+2){
            width: 80%;
        }

        .td:nth-child(1){
            width: 37%;
        }

        .search-second-section .tr:nth-child(-n+1) > .td:nth-child(n+1){
            font-size: 1.2em;
            width: 35%;
        }

        .search-second-section .tr .td > select,
        .search-second-section .tr .td > input{
            width: 50vw;
            height: 3vh;
        }

        .advanced-submit{
            width: 85vw;
        }
    }
/*-----------------------------*/